* {
    margin: 0;
    padding: 0;
    font-family: 'Muli';
    box-sizing: border-box;
    transition: all 0.1s ease;
}

@font-face {
    font-family: 'Muli';
    src: url('../ttf/Muli-SemiBold.ttf') format('truetype');
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
    user-select: none;
    height: 100vh;
    background: #0F0F0F;
    color: rgba(240, 240, 240, 1);
    background-image:
        linear-gradient(rgba(240, 240, 240, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(240, 240, 240, 0.1) 1px, transparent 1px);
    background-size: 100px 100px;
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0% { background-position: 0 0; }
    100% { background-position: 100px 0; }
}

.title {
    margin: 0.5em 0;
    font-size: 4em;
    letter-spacing: 0.25ch;
    text-align: center;
}

.inputClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.inputClass input {
    outline: none;
}

.inputClass input:focus, .card:hover {
    background: rgba(0, 0, 0, 0.5);
    border-color: rgba(240, 240, 240, 0.75);
    box-shadow: 0 0 12px rgba(240, 240, 240, 0.25);
}

.inputClass button {
    overflow: hidden;
    position: relative;
    background: rgba(240, 240, 240, 0.75);
    border: none;
    color: #0F0F0F;
    letter-spacing: 0.5ch;
    cursor: pointer;
}

.inputClass button:hover {
    background: rgba(240, 240, 240, 0.9)
}

.inputClass input, .inputClass button {
    width: 1000px;
    font-size: 1.5em;
    padding: 1em 2em;
}

.inputClass input, .inputClass button, .card {
    border-radius: 2em;
}

.inputClass input, .card {
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid rgba(240, 240, 240, 0.25);
    color: rgba(240, 240, 240, 1);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 90%;
}

.card {
    flex: 1;
    padding: 1.5em;
}

.usernameClass {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 0.5em;
}

.card .username {
    font-size: 1.5em;
}

.card p {
    font-size: 1.25em;
}

.circle {
    pointer-events: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(240, 240, 240, 1);
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0);
    animation: show 0.5s linear forwards;
}

@keyframes show {
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}
