<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <link rel='stylesheet' href='/static/css/style.css'>
        <link rel='icon' type='image/png' href='/static/png/ico.png'>
        <title>GDL Comparator</title>
    </head>
    <body>
        <p class='title'>Global Demonlist Comparator</p>
        <div class='inputClass'>
            <input id='user1'>
            <input id='user2'>
            <button onclick='compare()'>GO</button>
            <div class='cards'>
                <div class='card'></div>
                <div class='card'></div>
            </div>
        </div>
        <script>
            async function compare() {
                let r = await fetch('/compare', {method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({usernames: [user1.value, user2.value]})})
                let d = await r.json()
                let cards = document.querySelectorAll('.card')
                cards.forEach(function(card, index) {
                    let user = d.users[index]
                    card.innerHTML = ''
                    card.innerHTML += `<div class='usernameClass'>${user.country}<p class='username'>${user.username}</p></div>
                                       <p>Placement: #${user.placement}</p>
                                       <p>Points: ${user.points}</p>
                                       <p>Hardest level: ${user.hardestLevelName} by ${user.hardestLevelCreator} (#${user.hardestLevelPlacement})</p>
                                       <p>Cleared ${user.cleared} levels (${user.notCleared} non-100% records)</p>
                                       <p>Verified ${user.verifiedCount} levels</p>`
                    if (user.hardestVerifiedLevelName != null) {
                        card.innerHTML += `<p>Hardest verified level: ${user.hardestVerifiedLevelName} by ${user.hardestVerifiedLevelCreator} (#${user.hardestVerifiedLevelPlacement})</p>`
                    }
                })
            }
            let button = document.querySelector('button')
            button.addEventListener('click', function(e) {
                let circle = document.createElement('div')
                let rect = button.getBoundingClientRect()
                circle.classList.add('circle')
                let x = e.clientX - rect.left
                let y = e.clientY - rect.top
                circle.style.left = `${x}px`
                circle.style.top = `${y}px`
                button.appendChild(circle)
                setTimeout(function() {
                    circle.remove()
                }, 500)
            })
        </script>
    </body>
</html>
