<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <link rel='stylesheet' href='../static/css/style.css'>
        <link rel='icon' type='image/png' href='../static/png/ico.png'>
        <title>GDL Comparator</title>
    </head>
    <body>
        <p class='title'>Global Demonlist Comparator</p>
        <div class='inputClass'>
            <input id='user1'>
            <input id='user2'>
            <button>GO</button>
        </div>
        <script>
            let button = document.querySelector('button')
            button.addEventListener('click', function(e) {
                let circle = document.createElement('div')
                let rect = button.getBoundingClientRect()
                circle.classList.add('circle')
                let x = e.clientX - rect.left
                let y = e.clientY - rect.top
                circle.style.left = `${x}px`
                circle.style.top = `${y}px`
                button.appendChild(circle)
                setTimeout(function() {
                    circle.remove()
                }, 500)
            })
        </script>
    </body>
</html>
